<h1>Register for a new course</h1>

<form action="/courses" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Title
    <input type="text" name="title" />
  </label>

  <label>
    Schedule
    <input type="date" name="schedule" />
  </label>

  <label>
    Course Level
    <input type="text" name="course_level" />
  </label>

  <button>Save!</button>
</form>